@charset "utf-8";

:root {
  --sbc: #2c3e50;
  --mc: #318ACA;
  --hc: #fff;
  --bc: #e5e5e5;
  --hff: 'Open Sans', sans-serif;
  --bff: 'Open Sans', sans-serif;
  --eff: 'Open Sans', sans-serif;
  --extra-color: #666;
}
html {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}
*:after,
*:before,
* {
  box-sizing: border-box;
}
body {
  font-family: var(--bff);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.44;
  font-weight: 400;
  color: var(--bc);
  position: relative;
  word-break: break-word;
  background-color: var(--sbc);
}
.fn__svg {
  fill: currentcolor;
  width: 18px;
  height: 18px;
  opacity: 0;
}
.replaced-svg {
  opacity: 1;
}
p {
  letter-spacing: 0;
  margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--hc);
  font-family: var(--hff);
  line-height: 1.22;
  letter-spacing: 0;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: var(--hc);
}
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
  color: var(--mc);
}
input[type='text'] {
  background-color: #181818;
  border-radius: 5px;
  border: 2px solid var(--extra-color);
  font-size: 16px;
  letter-spacing: 0;
}
textarea {
  background-color: #181818;
  border-radius: 5px;
  border: 2px solid var(--extra-color);
  font-size: 16px;
  letter-spacing: 0;
  padding: 13px 15px;
  height: 80px;
}
textarea:focus,
input[type='text']:focus {
  outline: none;
  background-color: #181818;
  border-color: #777;
}

.container {
  width: 100%;
  max-width: 1360px;
  padding: 0 80px;
  margin: 0 auto;
}
.container.wide {
  max-width: 1760px;
}
.container.small {
  max-width: 900px;
}
.container:after,
.clearfix:after,
.clearfix:before {
  content: '';
  clear: both;
  display: table;
}
@media (max-width: 1400px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 1040px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}

a.full_link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.bg_overlay .bg_image,
.bg_overlay .bg_color,
.bg_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg_overlay .bg_color {
  z-index: 2;
}
[class*='mw_'] {
  margin-left: auto;
  margin-right: auto;
}
.mw_650 {
  max-width: 650px;
}
.mw_500 {
  max-width: 500px;
}

.w3xshare_fn_main,
.w3xshare_fn_main * {
  box-sizing: border-box;
}
.w3xshare_fn_main {
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.w3xshare_fn_header {
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.w3xshare_fn_header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
}
.w3xshare_fn_header.fixer {
  background-color: #111;
  padding: 20px 0;
}
.w3xshare_fn_header .header_in {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.trigger_in {
  cursor: pointer;
  font-family: var(--hff);
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  padding: 10px;
  padding-right: 65px;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: all 0.3s ease;
}
.trigger.is-active,
.trigger:hover .trigger_in {
  color: var(--mc);
}
.trigger.is-active .hamb_a {
  top: 6px;
  transform: rotate(45deg);
}
.trigger.is-active .hamb_c {
  top: 6px;
  transform: rotate(-45deg);
}
.trigger.is-active .hamb_b {
  transform: translateX(100%);
  opacity: 0;
}
.trigger.is-active .hamb_a,
.trigger.is-active .hamb_b,
.trigger.is-active .hamb_c {
  background-color: #eee;
}
.trigger_in .hamb {
  width: 50px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  margin-top: -7.5px;
}
.trigger_in .hamb_a,
.trigger_in .hamb_b,
.trigger_in .hamb_c {
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #aaa;
  left: 0;
  transition: all 0.3s ease;
}
.trigger_in .hamb_a {
  top: 0;
}
.trigger_in .hamb_b {
  top: 7px;
}
.trigger_in .hamb_c {
  top: 14px;
}
.trigger_in .text {
  line-height: 1;
}

.w3xshare_fn_hero {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}
.w3xshare_fn_hero .overlay_slider {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.w3xshare_fn_hero .overlay_slider .swiper-container .main_image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.w3xshare_fn_hero .overlay_slider .swiper-slide {
  overflow: hidden;
}
.w3xshare_fn_hero .overlay_slider .swiper-container,
.w3xshare_fn_hero .overlay_slider .swiper-slide {
  height: 100%;
}
.w3xshare_fn_hero .overlay_slider .swiper-container {
  cursor: e-resize;
}
.w3xshare_fn_hero iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.w3xshare_fn_hero .bg_color {
  background-color: rgba(0, 0, 0, 0.85);
}


.home-kenburns .w3xshare_fn_hero .bg_color {
  background-color: rgba(0, 0, 0, 0.55);
}



.w3xshare_fn_hero.half {
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.w3xshare_fn_hero.half .hero_content {
  width: 50%;
  background-color: #0a0a0a;
}
.w3xshare_fn_hero.half .bg_overlay {
  left: 50%;
}

.w3xshare_fn_hero .hero_content {
  position: relative;
  z-index: 15;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  padding: 150px 0;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.w3xshare_fn_hero .content {
  text-align: center;
}
.w3xshare_fn_hero .fn_title {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 35px; /* after changing this value, don't forget to change left value */
  line-height: 1;
  margin-bottom: 10px;
  font-family: var(--hff);
  transform: translateZ(0);
  overflow: hidden;
  position: relative;
  left: 17px; /* because of letter spacing, if you change letter spacing, don't forget to change its value also */
}
.w3xshare_fn_hero .fn_desc {
  padding: 0;
  font-size: 24px;
  line-height: 1.3333;
  max-width: 500px;
  margin: 0 auto;
}
.w3xshare_fn_down {
  position: absolute;
  bottom: 24px;
  z-index: 15;
  text-decoration: none;
  color: #eee;
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--hff);
  letter-spacing: 1px;
  padding-top: 60px;
}
.w3xshare_fn_down:hover {
  color: var(--mc);
}
.w3xshare_fn_down:hover .icon {
  color: var(--mc);
}
.w3xshare_fn_down:hover .icon:after {
  background-color: var(--mc);
}
.w3xshare_fn_down .icon {
  position: absolute;
  display: block;
  top: -16px;
  left: 50%;
  width: 18px;
  height: 40px;
  color: #aaa;
  margin-left: -9px;
  -webkit-animation: bottomArrow 1.5s infinite;
  animation: bottomArrow 1.5s infinite;
  transition: all 0.3s ease;
}
.w3xshare_fn_down .icon:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 40px;
  background-color: #aaa;
  left: 50%;
  margin-left: -1px;
  transition: all 0.3s ease;
}
.w3xshare_fn_down .fn__svg {
  position: absolute;
  display: block;
  bottom: -4px;
  transform: rotate(90deg);
  left: 50%;
  margin-left: -9px;
  z-index: 3;
}
@keyframes bottomArrow {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, 20px);
    opacity: 0;
  }
}
@keyframes topArrow {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, -20px);
    opacity: 0;
  }
}

/* Animated Title */
.fn_animated_text {
  opacity: 0;
}
.fn_animated_text.ready {
  opacity: 1;
}
.fn_animated_text span {
  animation: fn_animated_text 0.8s both;
}
.fn_animated_text em {
  opacity: 0;
}
@keyframes fn_animated_text {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 1;
    text-shadow: 0 0 25px white;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

/* Main Button */
.w3xshare_fn_button {
  display: block;
  width: fit-content;
  max-width: 100%;
  text-decoration: none;
  color: var(--bc);
  font-size: 16px;
  font-family: var(--hff);
  border: 2px solid var(--extra-color);
  border-radius: 5px;
  padding: 0 20px 0 73px;
  position: relative;
  text-align: center;
  letter-spacing: 0.5px;
}
.w3xshare_fn_button .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.w3xshare_fn_button.only_text {
  padding: 8px 8px;
}
.w3xshare_fn_button.full {
  width: 100%;
  line-height: 66px;
}
.w3xshare_fn_button .icon {
  display: block;
  position: absolute;
  left: 14px;
  top: 50%;
  margin-top: -11px;
}
.w3xshare_fn_button .icon:after {
  content: '';
  width: 2px;
  height: 26px;
  background-color: var(--extra-color);
  left: 100%;
  margin-left: 14px;
  top: 50%;
  margin-top: -13px;
  position: absolute;
}
.w3xshare_fn_button .icon:before {
  content: '';
  width: 2px;
  height: 0;
  background-color: var(--mc);
  left: 100%;
  margin-left: 14px;
  top: -2px;
  position: absolute;
  z-index: 3;
  transition: all 0.3s ease;
}
.w3xshare_fn_button .fn__svg {
  width: 22px;
  height: 22px;
  display: block;
}
.w3xshare_fn_button:hover {
  border-color: var(--mc);
  color: #eee;
}
.w3xshare_fn_button:hover .icon:after {
  opacity: 0;
}
.w3xshare_fn_button:hover .icon:before {
  height: 26px;
}

.w3xshare_fn_content {
  position: relative;
  z-index: 2;
  background-color: var(--sbc);
}
/* Footer */
.w3xshare_fn_main #footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 998;
}
.w3xshare_fn_footer {
  background-color: var(--sbc);
}
.w3xshare_fn_footer .footer_top {
  padding: 150px 0;
}
.w3xshare_fn_footer .ft_in {
  max-width: 670px;
  margin: 0 auto;
}
.w3xshare_fn_footer .footer_top .desc {
  text-align: center;
}
.w3xshare_fn_footer .footer_top .img {
  margin-bottom: 33px;
}
.w3xshare_fn_footer .footer_top .fn_title {
  font-size: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.w3xshare_fn_footer .footer_top .fn_desc {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}
.w3xshare_fn_footer .subscribe_form {
  width: 100%;
  padding: 0 40px;
  margin-bottom: 25px;
}
.w3xshare_fn_footer .subscribe_in {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.w3xshare_fn_footer .subscribe_form input[type='text'] {
  width: 100%;
  margin-right: 10px;
  height: 50px;
  min-width: inherit;
  background-color: #121212;
  border: 2px solid var(--extra-color);
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font-family: var(--hff);
  padding: 0 15px;
  line-height: 46px;
  color: #eee;
}
.w3xshare_fn_footer .subscribe_form input[type='text']:focus {
  background-color: #121212;
  border-color: #777;
}
.w3xshare_fn_footer .subscribe_form a {
  flex: none;
}
.w3xshare_fn_footer .w3xshare_fn_social_list ul {
  justify-content: center;
}
.w3xshare_fn_footer .footer_bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 3px 0 0;
  font-size: 13px;
}
.w3xshare_fn_footer .fb_in {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.w3xshare_fn_footer .fb_left p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--hff);
}
.w3xshare_fn_footer .fb_left p a {
  text-decoration: none;
  color: #eee;
}
.w3xshare_fn_footer .fb_left p a:hover {
  color: #fff;
}
.w3xshare_fn_footer .fb_right ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  margin-left: -30px;
}
.w3xshare_fn_footer .fb_right li {
  padding-left: 30px;
  margin: 5px 0;
}
.w3xshare_fn_footer .fb_right a {
  display: block;
  text-decoration: none;
  font-size: 13px;
  color: var(--bc);
  font-family: var(--hff);
}
.w3xshare_fn_footer .fb_right a:hover {
  color: var(--hc);
}

/* Right Navigation */
.w3xshare_fn_nav {
  position: fixed;
  height: 100vh;
  min-width: 600px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  right: 0;
  top: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}
.w3xshare_fn_main .trigger {
  width: 150px;
  white-space: nowrap;
}
.w3xshare_fn_nav .trigger {
  position: fixed;
  width: 100%;
  padding: 35px 25px;
}
.w3xshare_fn_nav .trigger .trigger_in .nav_close_text {
  position: absolute;
  right: 60px;
}
.w3xshare_fn_nav .nav_content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  padding-left: 80px;
  padding-left: 4.16vw;
  padding-left: calc(20px + 3.1vw);
  padding-right: 80px;
  padding-right: 4.16vw;
  padding-right: calc(20px + 3.1vw);
  padding-top: 150px;
  padding-top: 7.81vw;
  padding-top: calc(50px + 5.2vw);
  padding-bottom: 35px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.w3xshare_fn_nav .nav_content {
  scrollbar-width: thin;
  scrollbar-color: #999 #fff;
}
.w3xshare_fn_nav .nav_content::-webkit-scrollbar {
  width: 4px;
}
.w3xshare_fn_nav .nav_content::-webkit-scrollbar-track {
  background: #444;
}
.w3xshare_fn_nav .nav_content::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
  border: 3px solid #444;
}
.w3xshare_fn_nav .nav_menu {
  width: 500px;
}
.w3xshare_fn_nav .nav_menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.w3xshare_fn_nav .nav_menu .nav_menu_buttons {
  display: flex;
  justify-content: center;
}
.w3xshare_fn_nav .nav_menu .nav_menu_form {
  width: 500px;
}
.w3xshare_fn_nav .nav_menu .nav_menu_form .input_list {
  width: 238px;
}
.w3xshare_fn_nav ul.sub-menu {
  display: none;
  margin: 25px 0 4px 30px;
}
.w3xshare_fn_nav .nav_menu ul.sub-menu li {
  margin-bottom: 27px;
}
.w3xshare_fn_nav .nav_menu ul.sub-menu li:last-child {
  margin-bottom: 0px;
}
.w3xshare_fn_nav ul.sub-menu a {
  font-size: 20px;
}
.w3xshare_fn_nav .nav_menu ul.sub-menu a:before {
  height: 1px;
}
.w3xshare_fn_nav .nav_menu li {
  margin-bottom: 8px;
  transition: all 0.5s ease;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.w3xshare_fn_nav .nav_menu li:last-child {
  margin-bottom: 0;
}
.w3xshare_fn_nav .nav_menu a {
  font-size: 16px;
  display: block;
  text-decoration: none;
  font-family: var(--hff);
  color: var(--hc);
  line-height: 1;
  cursor:pointer;
}
.w3xshare_fn_nav .nav_menu a {
  background-image: linear-gradient(to right, var(--mc), var(--mc) 50%, var(--hc) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.w3xshare_fn_nav .nav_menu .menu-item-has-children > a:after {
  content: '';
  position: absolute;
  left: 100%;
  margin-left: 10px;
  width: 4px;
  height: 4px;
  background-color: var(--mc);
  border-radius: 100%;
  top: 50%;
  margin-top: -2px;
}
.w3xshare_fn_nav .nav_menu a:hover::before {
  width: 100%;
}
.w3xshare_fn_nav .nav_menu .active a {
  color: var(--mc);
}
.w3xshare_fn_nav .nav_buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.w3xshare_fn_nav .nav_buttons a {
  margin: 5px 20px 5px 0;
}
.w3xshare_fn_nav .nav_buttons a:last-child {
  margin-right: 0;
}
.w3xshare_fn_nav .nav_footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 32px 0 28px;
  padding-left: 80px;
  padding-left: 4.16vw;
  padding-left: calc(20px + 3.1vw);
  padding-right: 80px;
  padding-right: 4.16vw;
  padding-right: calc(20px + 3.1vw);
}
.w3xshare_fn_nav .nav_footer .nf_left {
  margin-right: 30px;
}
.w3xshare_fn_nav .nav_footer:after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  left: 0;
  top: 0;
  transition: all 0.5s 0.3s ease;
}
.w3xshare_fn_nav .nav_footer .nf_left p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--hff);
}
.w3xshare_fn_nav .nav_footer .nf_left p a {
  text-decoration: none;
  color: #eee;
}
.w3xshare_fn_nav .nav_footer .nf_left p a:hover {
  color: #fff;
}
.w3xshare_fn_nav .w3xshare_fn_social_list ul {
  justify-content: flex-end;
}
.nav_overlay {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  transition: all 0.3s 0.3s cubic-bezier(0.02, 0.19, 0, 0.96);
  height: 100vh;
  transform: translateX(-102%);
  cursor: pointer;
}
.nav_overlay.go {
  transition: all 0.3s 0.2s cubic-bezier(0.02, 0.19, 0, 0.96);
  transform: translateX(0%);
}
.w3xshare_fn_nav {
  transition: all 0.3s 0.2s cubic-bezier(0.02, 0.19, 0, 0.96);
  transform: translateX(102%);
}
.w3xshare_fn_nav.go {
  transition: all 0.3s 0.7s cubic-bezier(0.02, 0.19, 0, 0.96);
  transform: translateX(0%);
}
.w3xshare_fn_nav .nav_buttons,
.w3xshare_fn_nav .nav_footer {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.w3xshare_fn_nav .nav_buttons.ready,
.w3xshare_fn_nav .nav_footer.ready {
  opacity: 1;
}
.w3xshare_fn_nav .nav_footer.ready:after {
  width: 100%;
}

/* Totop Button */
.w3xshare_fn_totop {
  margin: 24px auto;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  z-index: 990;
  color: #aaa;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translateY(30px);
}
.w3xshare_fn_totop.active {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}
.w3xshare_fn_totop .circle {
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  display: block;
  position: absolute;
  z-index: 55;
}
.w3xshare_fn_totop .circle .fn__svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}
.w3xshare_fn_totop .circle .stroke-solid {
  fill: none;
  stroke-width: 2px;
  stroke-dashoffset: 300;
  stroke-dasharray: 300;
  stroke: var(--mc);
  transition: all 0.1s ease;
}
.w3xshare_fn_totop .arrow {
  display: block;
  font-size: 26px;
  text-align: center;
  padding-top: 26px;
}
.w3xshare_fn_totop .arrow .fn__svg {
  position: absolute;
  display: block;
  top: 0px;
  transform: rotate(-90deg);
  left: 50%;
  margin-left: -9px;
  z-index: 3;
}
.w3xshare_fn_totop:hover {
  color: var(--mc);
}
.w3xshare_fn_totop:hover .arrow:after {
  background-color: var(--mc);
}

/* Responsive */
@media (max-width: 1040px) {
  /* Home Half Slider */
  .w3xshare_fn_hero.half .hero_content .nav_menu_form {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .w3xshare_fn_hero.half .bg_overlay {
    left: 0;
  }
  /*home*/
  .w3xshare_fn_hero .fn_title {
    font-size: 50px;
    letter-spacing: 20px;
  }
  .w3xshare_fn_nav .nav_menu_buttons {
    flex-wrap: wrap;
  }
  .w3xshare_fn_nav .nav_menu_buttons .buttons {
    width: 100%;
  }
  .w3xshare_fn_nav .nav_menu_buttons .buttons:first-child {
    margin-right: unset;
    margin-bottom: 24px;
  }
  .w3xshare_fn_nav .nav_menu_buttons .buttons .w3xshare_fn_button{
    width: 100%;
  }
  .w3xshare_fn_nav .trigger {
    right: 30px;
  }
  .w3xshare_fn_nav .nav_menu li {
    margin-bottom: 20px;
  }
  .w3xshare_fn_hero .fn_desc {
    font-size: 20px;
    max-width: 80%;
  }
}
@media (max-width: 900px) {
  .w3xshare_fn_nav, .nav_menu, .nav_menu_form, .input_list {
    width: 100%;
    min-width: 100%;
  }
  .w3xshare_fn_nav .nav_menu .nav_menu_form .input_list {
    margin-right: unset;
  }
  .w3xshare_fn_nav .nav_menu .nav_menu_form .input_list:nth-child(2) {
    margin-top: 24px;
  }
  .w3xshare_fn_nav .nav_menu .nav_menu_form:nth-child(2) {
    margin-top: 24px;
  }
  .w3xshare_fn_nav .nav_menu_buttons {
    flex-wrap: wrap;
  }
  .w3xshare_fn_nav .nav_menu_buttons .buttons {
    width: 100%;
  }
  .w3xshare_fn_nav .nav_menu_buttons .buttons:first-child {
    margin-right: unset;
    margin-bottom: 24px;
  }
  .w3xshare_fn_nav .nav_menu_buttons .buttons .w3xshare_fn_button{
    width: 100%;
  }
  .w3xshare_fn_nav .nav_footer {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .w3xshare_fn_nav .w3xshare_fn_social_list ul {
    justify-content: flex-start;
  }
  .w3xshare_fn_nav .nav_footer .nf_left {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .w3xshare_fn_hero .fn_title {
    font-size: 34px;
    letter-spacing: 20px;
  }
  .w3xshare_fn_hero .fn_desc {
    font-size: 16px;
    max-width: 80%;
  }
}
@media (max-width: 600px) {
  .w3xshare_fn_hero .fn_title {
    font-size: 28px;
    letter-spacing: 15px;
  }
  .w3xshare_fn_hero .fn_desc {
    font-size: 16px;
    max-width: 70%;
  }
}
@media (max-width: 480px) {
  .w3xshare_fn_nav, .nav_menu, .nav_menu_form, .input_list {
    width: 100% !important;
    min-width: 100%;
  }
  .w3xshare_fn_footer .subscribe_in {
    padding: 0;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .w3xshare_fn_footer .subscribe_form input[type='text'] {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .w3xshare_fn_footer .subscribe_form a {
    width: 100%;
  }
  .w3xshare_fn_hero .fn_title {
    font-size: 20px;
    letter-spacing: 10px;
  }
  .w3xshare_fn_hero .fn_desc {
    font-size: 12px;
    max-width: 60%;
  }
}
/** ADDED **/
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-24 {
  margin-right: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mx-4 {
  margin: 0 4px;
}
.font-bold {
  font-weight: bold;
}
.fg-white {
  color: white;
}
.float-right {
  float: right;
}
.dropArea{
  cursor: pointer;
}
